In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
pd.set_option('display.max_columns', 21)
arq = pd.read_csv('C:/Users/perei/OneDrive/Documentos/MachineLearnig/dados/kc_house_data.csv')

In [ ]:
arq.head()

In [4]:
importante = arq

In [5]:
importante.drop('id', inplace=True, axis=1)
importante.drop('date', inplace=True, axis=1)
importante.drop('long', inplace=True, axis=1)
importante.drop('lat', inplace=True, axis=1)
importante.drop('zipcode', inplace=True, axis=1)

In [6]:
importante.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503

In [7]:
importante.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503

In [8]:
y = importante['price']
x = importante.drop('price', axis=1)

In [34]:
x_treino, x_teste, y_treino, y_teste = (train_test_split(x, y, test_size=0.40, random_state=14))

In [35]:
# criação de modelo
modelo = LinearRegression()
modelo.fit(x_treino, y_treino)

LinearRegression()

In [36]:
resultado = modelo.score(x_teste, y_teste)
print(resultado)

0.6601619370484549

In [37]:
from sklearn.linear_model import Ridge
modeloridge = Ridge(alpha=10.0)
modeloridge.fit(x_treino, y_treino)
resultadoridge = modeloridge.score(x_teste, y_teste)
print(resultadoridge)

0.6606245352090788

In [38]:
from sklearn.linear_model import Lasso
modelolasso = Lasso(alpha=1000.0, max_iter=10000, tol=0.1)
modelolasso.fit(x_treino, y_treino)
resultadolasso = modelolasso.score(x_teste, y_teste)
print(resultadolasso)

0.6602505848339049

c:\users\perei\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 297172712361385.1, tolerance: 177598984678092.4
  model = cd_fast.enet_coordinate_descent(

In [39]:
from sklearn.linear_model import ElasticNet
modeloelasticnet = ElasticNet(alpha=1, l1_ratio=0.9, tol=0.2, max_iter=10000)
modeloelasticnet.fit(x_treino, y_treino)
resultadoelasticnet = modeloelasticnet.score(x_teste, y_teste)
print(resultadoelasticnet)

0.646935502002387

In [40]:
def modeloregressão(a, b, c, d):
    from sklearn.linear_model import LinearRegression
    from sklearn.linear_model import Ridge
    from sklearn.linear_model import Lasso
    from sklearn.linear_model import ElasticNet
    x_treino = a
    y_treino = b
    x_teste = c
    y_teste = d
    reg = LinearRegression()
    ridge = Ridge()
    lasso = Lasso()
    elastic = ElasticNet()
    reg.fit(x_treino, y_treino)
    ridge.fit(x_treino, y_treino)
    lasso.fit(x_treino, y_treino)
    elastic.fit(x_treino, y_treino)
    resulreg = reg.score(x_teste, y_teste)
    resulridge = ridge.score(x_teste, y_teste)
    resullasso = lasso.score(x_teste, y_teste)
    resulelastic = elastic.score(x_teste, y_teste)
    print('Regressão Linear: ', resulreg, 'ridge: ', resulridge, 'lasso: ', resullasso, 'ElasticNet', resulelastic)

In [41]:
modeloregressão(x_treino, y_treino, x_teste, y_teste)

c:\users\perei\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 286893781845346.8, tolerance: 177598984678.0924
  model = cd_fast.enet_coordinate_descent(

Regressão Linear:  0.6601619370484549 ridge:  0.6602349592681996 lasso:  0.6601632644776133 ElasticNet 0.6276572101802966

c:\users\perei\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 367219214289420.44, tolerance: 177598984678.0924
  model = cd_fast.enet_coordinate_descent(