In [3]:
import pandas as pd
dados = pd.read_csv('/content/drive/My Drive/SBAnational.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
dados.head()

   LoanNr_ChkDgt                           Name  ...        GrAppv      SBA_Appv
0     1000014003                 ABC HOBBYCRAFT  ...   $60,000.00    $48,000.00
1     1000024006    LANDMARK BAR & GRILLE (THE)  ...   $40,000.00    $32,000.00
2     1000034009          WHITLOCK DDS, TODD M.  ...  $287,000.00   $215,250.00
3     1000044001  BIG BUCKS PAWN & JEWELRY, LLC  ...   $35,000.00    $28,000.00
4     1000054004    ANASTASIA CONFECTIONS, INC.  ...  $229,000.00   $229,000.00

[5 rows x 27 columns]

In [5]:
faltantes = dados.isnull().sum()
faltantes_percentual = (dados.isnull().sum()/len(dados['SBA_Appv']))*100
print(faltantes_percentual)

LoanNr_ChkDgt         0.000000
Name                  0.001557
City                  0.003336
State                 0.001557
Zip                   0.000000
Bank                  0.173383
BankState             0.174162
NAICS                 0.000000
ApprovalDate          0.000000
ApprovalFY            0.000000
Term                  0.000000
NoEmp                 0.000000
NewExist              0.015125
CreateJob             0.000000
RetainedJob           0.000000
FranchiseCode         0.000000
UrbanRural            0.000000
RevLineCr             0.503579
LowDoc                0.287156
ChgOffDate           81.905526
DisbursementDate      0.263356
DisbursementGross     0.000000
BalanceGross          0.000000
MIS_Status            0.222095
ChgOffPrinGr          0.000000
GrAppv                0.000000
SBA_Appv              0.000000
dtype: float64

In [6]:
dados.drop('City', axis=1, inplace=True)
dados.drop('Name', axis=1, inplace=True)
dados.drop('State', axis=1, inplace=True)
dados.drop('Zip', axis=1, inplace=True)
dados.drop('BankState', axis=1, inplace=True)
dados.drop('LoanNr_ChkDgt', axis=1, inplace=True)
dados.drop('NAICS', axis=1, inplace=True)
dados.drop('Bank', axis=1, inplace=True)
dados.drop('ChgOffDate', axis=1, inplace=True)
dados.drop('DisbursementDate', axis=1, inplace=True)
dados.drop('ApprovalDate', axis=1, inplace=True)

In [7]:
dados.dtypes

ApprovalFY            object
Term                   int64
NoEmp                  int64
NewExist             float64
CreateJob              int64
RetainedJob            int64
FranchiseCode          int64
UrbanRural             int64
RevLineCr             object
LowDoc                object
DisbursementGross     object
BalanceGross          object
MIS_Status            object
ChgOffPrinGr          object
GrAppv                object
SBA_Appv              object
dtype: object

In [8]:
dados['RevLineCr'].replace('N', '0',inplace=True)
dados['RevLineCr'].replace('Y', '1',inplace=True)
dados['LowDoc'].replace('N', '0',inplace=True)
dados['LowDoc'].replace('Y', '1',inplace=True)
dados['MIS_Status'].replace('CHGOFF', '0',inplace=True)
dados['MIS_Status'].replace('P I F', '1',inplace=True)

In [9]:
dados['DisbursementGross'] = dados['DisbursementGross'].map(lambda x: str(x)[1:])
dados['GrAppv'] = dados['GrAppv'].map(lambda x: str(x)[1:])
dados['BalanceGross'] = dados['BalanceGross'].map(lambda x: str(x)[1:])
dados['SBA_Appv'] = dados['SBA_Appv'].map(lambda x: str(x)[1:])
dados['ChgOffPrinGr'] = dados['ChgOffPrinGr'].map(lambda x: str(x)[1:])

In [10]:
from locale import atof, setlocale, LC_NUMERIC
setlocale(LC_NUMERIC, '')

dados['DisbursementGross'] = dados['DisbursementGross'].map(lambda x: atof(x))
dados['GrAppv'] = dados['GrAppv'].map(lambda x: atof(x))
dados['BalanceGross'] = dados['BalanceGross'].map(lambda x: atof(x))
dados['SBA_Appv'] = dados['SBA_Appv'].map(lambda x: atof(x))
dados['ChgOffPrinGr'] = dados['ChgOffPrinGr'].map(lambda x: atof(x))

In [12]:
from collections import Counter

Counter(dados['LowDoc'])

Counter({'0': 784313,
         '1': 110336,
         'A': 497,
         'C': 758,
         'R': 75,
         'S': 603,
         nan: 2582})

In [18]:
dados['MIS_Status'].fillna(dados['MIS_Status'].median(), inplace=True)
dados['ChgOffPrinGr'].fillna(dados['ChgOffPrinGr'].median(), inplace=True)
dados['GrAppv'].fillna(dados['GrAppv'].median(), inplace=True)
dados['SBA_Appv'].fillna(dados['SBA_Appv'].median(), inplace=True)
dados['BalanceGross'].fillna(dados['BalanceGross'].median(), inplace=True)
dados['DisbursementGross'].fillna(dados['DisbursementGross'].median(), inplace=True)

In [16]:
dados['LowDoc'] = dados['LowDoc'].replace('A', '0', inplace=True)
dados['LowDoc'] = dados['LowDoc'].replace('R', '1', inplace=True)
dados['LowDoc'] = dados['LowDoc'].replace('C', '0', inplace=True)
dados['LowDoc'] = dados['LowDoc'].replace('S', '1', inplace=True)

In [ ]:
Counter(dados['RevLineCr'])

In [17]:
dados['RevLineCr'] = dados['RevLineCr'].replace(',', '1', inplace=True)
dados['RevLineCr'] = dados['RevLineCr'].replace('-', '1', inplace=True)
dados['RevLineCr'] = dados['RevLineCr'].replace('.', '1', inplace=True)
dados['RevLineCr'] = dados['RevLineCr'].replace('2', '1', inplace=True)
dados['RevLineCr'] = dados['RevLineCr'].replace('3', '1', inplace=True)
dados['RevLineCr'] = dados['RevLineCr'].replace('4', '1', inplace=True)
dados['RevLineCr'] = dados['RevLineCr'].replace('5', '1', inplace=True)
dados['RevLineCr'] = dados['RevLineCr'].replace('7', '1', inplace=True)
dados['RevLineCr'] = dados['RevLineCr'].replace('A', '1', inplace=True)
dados['RevLineCr'] = dados['RevLineCr'].replace('C', '1', inplace=True)
dados['RevLineCr'] = dados['RevLineCr'].replace('Q', '1', inplace=True)
dados['RevLineCr'] = dados['RevLineCr'].replace('R', '1', inplace=True)
dados['RevLineCr'] = dados['RevLineCr'].replace('`', '1', inplace=True)
dados['RevLineCr'] = dados['RevLineCr'].replace('T', '0', inplace=True)

In [19]:
dados['RevLineCr'].fillna(dados['RevLineCr'].median(), inplace=True)
dados['LowDoc'].fillna(dados['LowDoc'].median(), inplace=True)

/usr/local/lib/python3.6/dist-packages/numpy/lib/nanfunctions.py:1113: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [20]:
dados.head()

  ApprovalFY  Term  NoEmp  ...  ChgOffPrinGr    GrAppv  SBA_Appv
0       1997    84      4  ...           0.0   60000.0   48000.0
1       1997    60      2  ...           0.0   40000.0   32000.0
2       1997   180      7  ...           0.0  287000.0  215250.0
3       1997    60      2  ...           0.0   35000.0   28000.0
4       1997   240     14  ...           0.0  229000.0  229000.0

[5 rows x 16 columns]

In [ ]:
dados.dtypes

ApprovalDate          object
ApprovalFY            object
Term                   int64
NoEmp                  int64
NewExist             float64
CreateJob              int64
RetainedJob            int64
FranchiseCode          int64
UrbanRural             int64
RevLineCr             object
LowDoc                object
DisbursementDate      object
DisbursementGross     object
BalanceGross          object
MIS_Status            object
ChgOffPrinGr          object
GrAppv                object
SBA_Appv              object
dtype: object

In [ ]:
#dados['RevLineCr'].astype(int)
dados['LowDoc'].astype(int)
dados['MIS_Status'].astype(int)
dados['ChgOffPrinGr'].astype(float)
dados['GrAppv'].astype(float)
dados['SBA_Appv'].astype(float)
dados['BalanceGross'].astype(float)
dados['DisbursementGross'].astype(float)

ValueError: invalid literal for int() with base 10: 'C'