In [58]:
import pandas as pd
dados = pd.read_csv('C:/Users/perei/OneDrive/Documentos/MachineLearnig/dados/Admission_Predict.csv')
dados.drop('Serial No.', axis=1, inplace=True)

In [59]:
dados.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [60]:
y = dados['Chance of Admit ']
x = dados.drop('Chance of Admit ', axis=1)

In [61]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import GridSearchCV

In [62]:
valores = {'alpha': [0.001, 0.1, 0.2, 0.5, 1, 2, 3, 5, 10, 15, 20, 25, 50, 100, 150, 300, 500, 750, 1000, 1250, 1500, 1750, 2000], 'l1_ratio':[0.02, 0.05, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]}

In [63]:
modelo = ElasticNet()
procura = RandomizedSearchCV(estimator = modelo, param_distributions = valores, n_iter=250, cv=5)
procura.fit(x, y)

print('melhor score: ', procura.best_score_)
print('melhor alpha: ', procura.best_estimator_.alpha)
print('melhor l1 ratio', procura.best_estimator_.l1_ratio)

melhor score:  0.7714072894532062
melhor alpha:  0.001
melhor l1 ratio 0.3

In [64]:
modelo = ElasticNet()
procura = GridSearchCV(estimator = modelo, param_grid = valores,cv=5)
procura.fit(x, y)

print('melhor score: ', procura.best_score_)
print('melhor alpha: ', procura.best_estimator_.alpha)
print('melhor l1 ratio', procura.best_estimator_.l1_ratio)

melhor score:  0.7714072894532062
melhor alpha:  0.001
melhor l1 ratio 0.3