In [41]:
import pandas as pd
alunos = {'Nome': ['Lazaro', 'Jonas', 'Luan', 'Cesar'],
          'Nota': [4, 7, 5.5, 9],
          'Aprovado': ['Não', 'Sim', 'Sim', 'Sim'] }

In [42]:
alunosDF = pd.DataFrame(alunos)

In [43]:
print(alunosDF)

     Nome  Nota Aprovado
0  Lazaro   4.0      Não
1   Jonas   7.0      Sim
2    Luan   5.5      Sim
3   Cesar   9.0      Sim

In [51]:
alunosDF['Nome']

0    Lazaro
1     Jonas
2      Luan
3     Cesar
Name: Nome, dtype: object

In [45]:
alunosDF.loc[[3]]

    Nome  Nota Aprovado
3  Cesar   9.0      Sim

In [49]:
alunosDF.loc[alunosDF['Nome']=='Jonas']

    Nome  Nota Aprovado
1  Jonas   7.0      Sim